name: CI

on: [push]

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby and install dependencies
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true
    - name: Run linter
      run: bundle exec rubocop

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [3.2, 3.3, 3.4]
        faraday_version: ['', '~> 1.0'] # Defaults to whatever's the most recent version.
    steps:
    - uses: actions/checkout@v5

    - name: Set up Ruby and install dependencies
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
      env:
        FARADAY_VERSION: ${{ matrix.faraday_version }}

    - name: "Run tests for Ruby ${{ matrix.ruby }} and Faraday ${{ matrix.faraday_version == '~> 1.0' && '1.x' || 'latest' }}"
      run: bundle exec rake spec
      env:
        FARADAY_VERSION: ${{ matrix.faraday_version }}

    - name: Upload coverage artifacts
      uses: actions/upload-artifact@v4
      with:
        name: "coverage-${{ matrix.ruby }}-${{ matrix.faraday_version == '~> 1.0' && 'faraday-1.x' || 'faraday-latest' }}"
        path: coverage/
